{% extends "layout.html" %}

{% block content %}

    <div class="title_container"> 
    <h1 class="titulo">REALIZA TU LISTA DE TAREAS </h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <a href="/registro">
                <button type="button" class="btn btn-lg rounded-pill float-right mi_boton">Regístrate</button>
            </a>
        </div>
        <div class="col-12 col-md-6">
            <a href="/login">
                <button type="button" class="btn btn-lg rounded-pill mi_boton" >Inicia sesión</button>
            </a>
        </div>
    </div>



{% endblock %}