{% extends "layout.html" %}
{% block content %}
{% from '_macro.html' import render_field %}
<div class="container">
<div class="card  mb-3" style="max-width: 18rem;">
    <div class="card-body">
        <form name="registro" id="resgistos" method="POST">
            <h2>Formulario de Registro</h2>
            {{ render_field(form.name)}}
            {{ render_field(form.username)}}
            {{ render_field(form.email)}}
            {{ render_field(form.password)}}
            {{ render_field(form.password_validator)}}
            <button type="submit" class="btn btn-lg  mi_boton mt-3 ">Registarme</button>
        </form>
    </div>
</div>
</div>
{% endblock %}